body{
  
    background-image:
    linear-gradient(rgba(72, 92, 18, 0.2), rgba(0, 0, 0, 0.9)),
    url(images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    background-color: rgba(247, 245, 143, 0.2);
    backdrop-filter: blur(2px);
    padding: 20px 0;
    border-bottom: 3px solid rgba(255,255,255,0.7);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #161616;
    background-color: rgb(255, 255, 255,0.5);
    box-shadow: 0 4px 12px rgba(60, 75, 6, 0.25);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.logo:hover{
    background-color: #ebcb15;
    color: #000000;
    box-shadow: 0 4px 12px rgba(60, 75, 6, 0.35);
}

.hero{
    height: calc(100vh - 88px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .container{
    
    display: flex;
    justify-content: center;
    text-align: center;
}